*.aux
*.blg
*.log
*.gz
~*
*.png
!doc/
*.mat
# !ros/src/meta_planner/precomputation/

*.asv
*.m~

# Emacs stuff.
.clang_complete

# ROS stuff.
*.catkin_workspace

ros/build
ros/devel
ros/src/CMakeLists.txt

# Deploy stuff.
deploy_key
deploy_key.pub

# Compiled python files.
*.pyc

# Swap files
*.swp
*.swo
*~

# Glog log files
*.log*
*.INFO

# OSX dir files
.DS_store

# Compiled object files
*.slo
*.lo
*.o

# Compiled dynamic and static libraries
*.so
*.dylib
*.la
*.a
