<?xml version="1.0"?>

<launch>
  <!-- Reference topics. -->
  <arg name="fastrack_reference_topic" default="/reference/fastrack" />
  <arg name="raw_reference_topic" default="/reference/raw" />

  <!-- Reference converter node. -->
  <node name="reference_converter"
        pkg="fastrack_crazyflie_demos"
        type="planar_dubins_reference_converter_demo_node"
        output="screen">
    <param name="topic/fastrack_reference" value="$(arg fastrack_reference_topic)" />
    <param name="topic/raw_reference" value="$(arg raw_reference_topic)" />
  </node>
</launch>
