<?xml version="1.0"?>

<launch>
  <!-- Launch RViz with the proper config file robot descriptor. -->
  <param name="robot_description"
         command="$(find xacro)/xacro.py $(find crazyflie_description)/urdf/crazyflie.urdf.xacro" />
  <node name="rviz"
        pkg="rviz"
        type="rviz"
        args="-d $(find fastrack_crazyflie_demos)/rviz/fastrack_crazyflie_demos.rviz"
        required="true">
  </node>
</launch>
